body {
    background-color: lightblue;
    border-block: 8px dashed blue;
    
  }
  
  h1 {
    color: blue;
    margin-left: 20px;
  
    
  }

p { 
    color: white; 

}


}
    }